*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(196, 100, 100);
    
}
section{
    display: flex;
    margin-top: 100px;
    justify-content: center;
}
.container{
    background-color: whitesmoke;
    height: 500px;
    width: 500px;
    display: inherit;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}
.title{
    display: flex;
    margin-top: 50px;
}
.currency-btn{
    display: flex;
    gap: 20px;
}
.currency-btn .btn{
    cursor: pointer;
    background-color: cornflowerblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
}
.currency-btn .btn.active{
    cursor: pointer;
    background-color: rgb(62, 121, 233);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
}
.currency-btn .btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.converter-btn{
    cursor: pointer;
    background-color: rgb(62, 121, 233);
    color: white;
    padding: 15px 40px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
}
.converter-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}
input{
    border: none;
    border-radius: 5px;
    padding: 10px 50px;
    box-shadow: 0 0 3px 2px rgba(0,0,0, 0.3);
}